* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.image {
  width: 150px;
  height: 150px;
}
.character {
  text-align: center;
  width: 250px;
  border: 5px solid black;
  background-color: burlywood;
  padding: 5px;
  margin: 5px;
}
.stats {
  text-align: start;
}
#characterSelect {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
#arena {
  display: flex;
  justify-content: space-around;
  height: 260px;
  margin-top: 25px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
